:root {
  font-family:  JetBrains Mono,Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: #4c566a;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  max-height: 100vh;
}

.App {
  height: 100vh;
  
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  width: 100%;

  display: flex;
  flex-direction: column;
  /* align-items: center; */

  font-size: 24px;
  font-weight: bold;
}

header :nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.6em;
}

/* Hamburger */
nav {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.hum-check {
  position: absolute;
  top: -15%;
  width: 40px;
  height: 40px;
  opacity: 0;
  z-index: 1;   
}
.hum-stick {
  display: block;
  width: 40px;
  height: 6px;
  border-radius: 4px;
  background-color: #4c566a;
  transition: transform 0.3s ease-in-out;
}
.hum-check:checked ~ .stick1 {
  transform: rotate(45deg) translate(22%, 145%);
}
.hum-check:checked ~ .stick2 {
  transform: rotate(45deg);
}
.hum-check:checked ~ .stick3 {
  transform: rotate(-45deg) translate(20%, -135%);
}
.hum-hidden {
  position: absolute;
  top: 40px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.hum-check:checked ~ .hum-hidden {
  opacity: 1;
}

hr {
  width: 100%;
}

/* Content */
main {
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1em;
}